{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Password Reset Page{% endblock %}

{% block page_header %}Reset Password{% endblock %}

{% block content %}
<form class="user-forms text-center accountform" method="post">
    <p>Please specify your email address to receive instructions for resetting it.</p>
    <br>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
</form>
{% endblock %}