body {
    font-family: Arial;
}

.background_image {
    height: 100vh;
    background: url("../images/webpage_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    position: relative;
    justify-content: center;
}

.user-forms {
    width: 50%;
    padding-top: 20px;
    margin-left: 25%;
    margin-right:25%;
    color: #fff;
}

.reset-pass {
    margin-left: 25%;
    margin-right:25%;
}

.artifact {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 0px; 
    margin-left: 0px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.artifact-info {
    min-height: 20px;
    text-align: center;
    color: white;
}

caption p {
    word-wrap: break-word;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: white;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.accountform {
    padding-top: 20px;
}