.background_image {
    height: 100vh;
    background: url("../images/webpage_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    position: relative;
    justify-content: center;
}

form {
    width: 50%;
    padding-top: 20px;
    margin-left: 25%;
    margin-right:25%;
}

.reset-pass {
    margin-left: 25%;
    margin-right:25%;
}

.artifact {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.artifact-description {
    min-height: 40px;
}