{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Basket{% endblock %}

{% block content %}
<div class="row row-flex">
    {% for item in basket_items %}

    <div class="col-sm-12 col-md-6 col-lg-4 display panel panel-default">

        <div class="panel-body">
            <div class="artifact" style="background-image: url('{{ MEDIA_URL }}{{ item.artifact.image }}')"></div>

            <h3 class="artifact-info">{{ item.artifact.name }}</h3>
            <p class="artifact-info">{{ item.artifact.description }}</p>
            <p class="artifact-info"><i class="fa fa-euro"></i>{{ item.artifact.price }}</p>
            
                <form method="POST" action="{% url 'adjust_basket' item.id %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Change Qty</span>
                        </div>
                        <input name="quantity" type="number" min="0" max="5" class="form-control" required="true">
                        <span class="input-group-text">{{ item.quantity }}</span>
                        <button type="submit" class="btn btn-primary">Amend <i class="fa fa-repeat" aria-hidden="true"></i></button>
                    </div>
                </form>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row no-margin">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Total:</span>
            <span class="input-group-text"><i class="fa fa-euro"></i>{{ total }}</span>
        </div>
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout <i class="fa fa-check" aria-hidden="true"></i></a>
    </div>
</div>

{% endblock %}

