{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock %}

{% block page_header %}User Login{% endblock %}

{% block content %}
 <form method="POST" action="{% url 'login' %}?next={{ next }}" class="accountform">
        {% csrf_token %}
            {{ user_form | as_bootstrap }}
            <button type="submit" class="btn btn-light">Login</button>   
        </form>

<p class="reset-pass"><a href="{% url 'password_reset' %}">Forgot Your Password?</a></p>
{% endblock %}