{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Registration Page{% endblock %}

{% block page_header %}Create An Account{% endblock %}

{% block content %}
<p class="user-forms">If you have an account already, you can <a href="{% url 'login' %}"><strong>sign in</strong></a></p>

<form class="user-forms" method="POST" action="{% url 'registration' %}" class="accountform">
        {% csrf_token %}
            {{ user_form | as_bootstrap }}
            <button type="submit" class="btn btn-primary">Register</button>   
        </form>
{% endblock %}