{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Comments{% endblock %}

{% block content %}
<div class="row col-md-12">
    <p class="artifact-info"><a href="{% url 'new_comment' %}" class="btn btn-primary">Add Comment</a></p>
</div>
{% for comment in comments %}
<div class="row">
    <div class="col-md-12">
        <p class="artifact-info"><span class="boldtext">User:</span>{{ user.username }}</p>
            <h3 class="artifact-info">{{ comment.title }}</h3>
            <div class="col-md-12">
                <p class="artifact-info">{{ comment.content|truncatewords:30 }}</p>
                <p class="artifact-info"><a href="{% url 'comment_detail' comment.id %}"  class="btn btn-primary">Read more</a></p>
                <p class="artifact-info"><span class="boldtext">Posted on:</span> {{ comment.published_date }} </p>
                <p class="artifact-info"><span class="boldtext">Views:</span> {{comment.views}}</p>
                <p class="artifact-info"><span class="boldtext">Tag:</span> {{ comment.tag }}</p>
            </div>
    </div>
</div>
<hr>
{% endfor %}
{% endblock %}